@font-face {
  font-family: openSans;
  src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf");
  font-weight: normal;
  font-style: normal;
}

body{
 background-color: black;
 margin: 0;
 overflow: hidden;
}

#buttonDIV{
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  text-align: center;
}

#clickStars{
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  max-height: 100%;
  width: auto;
  display: block;
  margin: 0 auto;
}

img{

}

img:hover{
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  #clickStars{
    max-height: auto;
    max-width: 100%;
    margin: 0 auto 100% auto;
  }
}
